@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:760px) {
    .form-login {
        background: white;
        position: absolute;
        z-index: 9999;
        top: 220px;
        border-radius: 10px;
        padding: 30px;
    }
}
.text-color   {
    color: #0a6dd7;
}

@media (min-width:160px) {


    .fondo {
        height: 35vh;
        width: 100%;
        background: linear-gradient(5deg, #10b3e0fc, #1e5cb9c0),url(../src/img/bg-fondo.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 15px;
        position: relative;
        z-index: 1;
    }
    
}
@media (min-width:760px) {
    .fondo {
        height: 100vh;
    }
    
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
    margin-bottom: 1rem;
}
.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.auth-wrapper {
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.border {
    position:relative;
    border:solid 1px rgb(229, 229, 229);
    border-radius: .3rem;
    margin-bottom: 1rem;
    height: 45px;
}
.border label{
    font-size: .8rem;
    position:absolute;
    top:-12px;
    left: 10px;
    padding: 2px;
    background-color: white;
}
.border input{
    height: 45px;
    padding: .5rem;
}

/*HEADER*/

body {
    background-color: #f0f3fb;
}
.logo {
    height: 50px;
}
.navbar.active {
    background-color: #fff !important;
    box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
}

.sidebar {
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    background: #0a6dd7;
    color: white;
    width: 260px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 60px);
    position: fixed;
    top: 90px;
    left: 0;
    border-right: 1px solid #f2f4f9;
    box-shadow: 0 8px 10px 0 rgb(183 192 206 / 20%);
    z-index: 999 !important;
}
.side-closed.sidebar {
    margin-left: -300px;
    width: 60px;
}
.section {
    margin: 20px 27px 0 20px;
    min-height: calc(100vh - 76px);
    transition: 0.5s;
}
@media (min-width:767px) {
    .section.closed {
        margin-left: 290px;
    }
}

ion-icon {
    font-size: 64px;
  }
.display {
    display: inline;
}
.logo .img {
    height: 100%!important;
  }
  @media (min-width:100px) and (max-width:759px) {
    .img {
        height: 110px!important;
      }
  }

.logito {
    margin-right: 100px;
    display: inline;
}
.logo-none {

    display: none;
}
.sidebar {
    padding: 30px;
}
.undefined {
    display: none;
}
.container-new {
    margin: 0 50px;
}

.margin-new {
    margin-top: 2px;
    padding-left: 4px;
}
.color {
    margin-left: 10px;
    color:#10B5D6;
}
.input-not, .label-not {
    background: #f0f3fb!important;
}
.color-title {
    color:#017BFF;
}
.color-blue-new {
    border-radius: 8px;
    background-color:#017BFF;
}
.color-blue-new:hover {
    background-color:#0a6dd7;
}


.azul-degrade{
    background-color: aqua;
}
.azul-degrades{
    background-color:#017BFF;
}
.imgsimbolo {
    height: 30px;
    margin-left: 5px;
}
.center-text a{
    margin: auto;
}

.li li:not(:last-child) {
    border-bottom: 2px solid #2779d1!important;
    padding-bottom:10px ;
    margin-bottom: 10px;
}
li ion-icon {
    margin-right: 10px;
    --ionicon-stroke-width: 62px;
  }

  .button-w {
    display: flex!important;
    align-items: center!important;
  }
  .modal-new {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.46);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    z-index: 999;
  }
  .modal-container {
    position:fixed;
    width: 70%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top:calc(50vh - 35vh);
    border-radius: 20px!important;
    z-index: 9999;
  }
  @media (max-width:768px) {
    .modal-container  {
        width: 80%;
        height: 80vh;
    }

  }
.y {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    margin:auto;

}
  

  .modal-close {
    position:absolute;
    top:-20px;
    left: 95%;
    border-radius: 10px;
    padding: 10px 20px;
  }
.cerrar {
    display:none;
}
.no-cerrar {
    display: flex;
}